@import url("https://fonts.googleapis.com/css?family=Ubuntu Mono&display=swap");

body, html {
    height: 100%;
    background-color: #777;
    margin: 0;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("../images/bed.jpg");
    background-position: center;
    height: 100%;
}

.bgimg-2 {
    background-image: url("../images/stroller.jpg");
    background-position: 47%;
    height: 65%;
}

.bgimg-3 {
    background-image: url("../images/emma.jpg");
    background-position: 45%;
    height: 65%;
}

.bgimg-4 {
    background-image: url("../images/london.jpg");
    background-position: 76%;
    height: 65%;
}

.text {
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 25px;
    color: white;
    text-align: justify;
    background-color: #474747;
    padding: 50px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Ubuntu Mono", sans-serif;
    font-variant: small-caps;
}

.caption span.border {
    background-color: black;
    color: white;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}