@import url("https://fonts.googleapis.com/css?family=Ubuntu Mono&display=swap");

body, html {
    height: 100%;
    background: black;
    margin: 0;
}

.password {
    color: white;
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 30px;
    text-align: center;
    font-variant: small-caps;
}

.input {
    text-align: center;
}

.btn-submit {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    margin: 4px 2px;
    opacity: 1;
    border-radius: 25px;
    transition: 1s;
}

.btn-submit:hover {
    opacity: 0.65;
}

.hint {
    color: white;
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 20px;
    text-align: center;
}