@import url("https://fonts.googleapis.com/css?family=Ubuntu Mono&display=swap");

body, html {
    height: 100%;
    background: black;
    margin: 0;
}
.bgimg {
    background-image: url("../images/candles.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: black;
    background-color: transparent;
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 45px;
}

.middle {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

}

.btn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    border: none;
    color: black;
    padding: 10px 16px;
    text-align: center;
    font-size: 15px;
    margin: 4px 2px;
    opacity: 1;
    border-radius: 20px;
    transition: 1s;
    display: none;
}

.btn:hover {
    opacity: 0.65;
}